{% extends "base.html" %}

{% block title %}
  {% if object %}
    Edytuj złącze "{{ object.name }}"
  {% else %}
    Dodaj złącze 
  {% endif %} 
{% endblock %}

{% block content %}
  <h1>
    {% if object %}
      Edytuj złącze "{{ object.name }}"
    {% else %}
      Dodaj złącze 
    {% endif %} 
  </h1>
  <div class="module">
    <h2>Informacje o złączu</h2>
    <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Zapisz"></p>
    </form> 
  </div>
{% endblock %}